// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #FDF0D5;
    --ion-color-primary-rgb: 253,240,213;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #dfd3bb;
    --ion-color-primary-tint: #fdf2d9;

    --ion-color-secondary: #669BBC;
    --ion-color-secondary-rgb: 102,155,188;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #5a88a5;
    --ion-color-secondary-tint: #75a5c3;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}
  
  :root 
  {
//'Courier New', Courier, monospace;
    *
    {
        font-family: cursive;
    }

    div.screen{
        width: 100%;
        height: 100%;
    }

    .ionTopTag
    {
        width: 100%;
        margin: 0;
        --border-radius: 0px 25px 0px 0px ;
        --border-width: 3px 3px 0px 3px;
        --border-style: solid;
    }

    .ionBottomTag
    {
        width: 100%;
        margin: 0;
        --border-radius: 0 0 0px 25px;
        --border-width: 0 3px 3px 3px;
        --border-style: solid;
    }

    .ionBetweenTag
    {
        width: 100%;
        margin: 0;
        --border-radius: 0;
        --border-width: 0 3px 0 3px;
        --border-style: solid;
    }

    ion-content{
        --background: #003049;
    }

    .primaryInput
    {
        --background: var(--ion-color-secondary);
        --color: var(--ion-color-primary);
        --border-color: var(--ion-color-primary);
    }

    .secondaryInput
    {
        --background: var(--ion-color-primary);
        --color: var(--ion-color-secondary);
        --border-color: var(--ion-color-secondary);
    }
      

      .primaryColor
      {
          color: var(--ion-color-primary);        
      }
  
      .secondaryColor
      {
          color: var(--ion-color-secondary);
      }

      .iconContainer
      {
          aspect-ratio: 1/1;
          max-width: 75%;
          max-height: 75%;
          background-color: rgb(0, 0, 0);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 17%;
      }
  
      .imgIcon
      {
          max-width: 95%;
          max-height: 95%;
          border-radius: 15%;
      }

    .sweetTitle
    {
        color: var(--ion-color-primary);
    }

    .sweetConfirm
    {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-secondary);
        font-size: 24px;
        border-radius: 55%;
    }

    .sweetDeny
    {
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-primary);
        font-size: 24px;
        border-radius: 55%;
    }

    .toast{
        color: var(--ion-color-secondary);
    }
}