*{
    font-size: 22px;
}

ion-toolbar{
    --background: var(--ion-color-primary);
}

ion-title{
     color: #023e8a;
}

ion-col{
    padding: 0px;
}

ion-icon{
    font-size: 2rem;
}

.iconFrame
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding-left: 10%;
}


.logOutBtn
{
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-primary);    
    width: 70%;
}