*{
    font-size: 22px;
}

ion-toolbar{
    --background: var(--ion-color-primary);
}

ion-title{
     color: #023e8a;
}

ion-col{
    padding: 0px;
}


.logOutBtn
{
    --background: var(--ion-color-secondary);
    --color: var(--ion-color-primary);    
    width: 70%;
}