<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        @if (this.authService.isLogued) 
        {
          <ion-col class="ion-justify-content-end">
            <ion-button (click)="this.signOut()" expand="block" fill="solid" class="logOutBtn">
              Adios
              <ion-icon slot="start" name="power"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col><ion-title>{{this.authService.myUser.userName}}</ion-title></ion-col>
        }
        @else {
          <ion-col><ion-title class="tittle ion-text-center">{{this.title}}</ion-title></ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>