@if(this.loginForm.controls['email'].errors && this.loginForm.controls['email'].touched) 
{
  <ion-note>{{this.emailErrorText}}</ion-note>
}

@if(this.loginForm.controls['password'].errors && this.loginForm.controls['password'].touched) 
{
  <ion-note>{{this.passwordErrorText}}</ion-note>
}

<form class="loginForm" [formGroup]="this.loginForm">
  <ion-button (click)="this.submitData()" class="logBtn ionTopTag  primaryInput" fill="full" shape="round" >
    Iniciar sesión
    <ion-icon slot="end" name="log-in"></ion-icon>
  </ion-button>  
  
  <ion-item lines="none" class="ionBetweenTag secondaryInput">
    <ion-icon color="secondary" class="iconColor" slot="start" name="mail"></ion-icon>

  <ion-input formControlName="email" name="email" type="email" inputmode="email" placeholder="Correo" clearInput="true"
    (ionInput)="this.changeEmailErrorText()"></ion-input>
  </ion-item>   

  <ion-item lines="none" class="ionBottomTag primaryInput">
    <ion-input formControlName="password" name="password" inputmode="password" [type]="this.passwordInputType" placeholder="Clave" clearInput="true" clearOnEdit="false"
    (ionInput)="this.changePasswordErrorText()"></ion-input>

    <ion-button size="small" (click)="this.showHidePassword()" fill="clear">
      <ion-icon color="primary" class="iconEye iconColor" slot="icon-only" [name]="this.passwordLockName"></ion-icon>
    </ion-button>

  </ion-item>
</form>